/* CSS declarations go here */
.player.selected {
    background-color: yellow;
}

.player.win {
  background-color: green;
}

.player.fail {
  background-color: red;
}

.win.selected {
  background-color:green;
}

.fail.selected {
  background-color: red;
}