/* CSS declarations go here */
.player.selected {
    background-color: yellow;
}

.player.win {
  background-color: #5cb85c;
}

.player.fail {
  background-color: #d9534f;
}

.win.selected {
  background-color:#5cb85c;
    color: #eee;
}

.fail.selected {
  background-color: #d9534f;
    color: #eee;
}